@charset "utf-8";

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

body {
    /* 가로 스크롤바 방지 */
    overflow-x: hidden;
    color: rgb(29, 29, 31);
    letter-spacing: -0.05em;
    background-color: #fff;
}

p {
    line-height: 1.6;
}

a {
    color: rgb(29, 29, 31);
    text-decoration: none;
}

.cantainer>.global-nav {
    height: 44px;
    padding: 0 1rem;
}

.cantainer>.local-nav {
    height: 52px;
    padding: 0 1rem;
    border-bottom: 1px solid #ddd;
}

.cantainer>.global-nav>.global-nav-links,
.cantainer>.local-nav>.local-nav-links {
    display: flex;
    align-items: center;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.cantainer>.global-nav>.global-nav-links {
    justify-content: space-between;
}

.cantainer>.local-nav>.local-nav-links>.product-name {
    margin-right: auto;
    font-size: 1.4rem;
    font-weight: bold;
}

.cantainer>.local-nav>.local-nav-links>a {}

.cantainer>.local-nav>.local-nav-links>a:not(.product-name) {
    font-size: 0.8rem;
    margin-left: 2em;
}

.scroll-section {
    padding-top: 50vh;
}

#scroll-section-0>h1 {
    font-size: 4rem;
    text-align: center;
}

section>.main-meggage {
    display: flex;
    justify-content: center;
    height: 3em;
    font-size: 2.5rem;
    text-align: center;
}

section>.main-meggage>p {
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

section>.description {
    color: #888;
    font-size: 1.2rem;
}

section>.description>strong {
    float: left;
    margin-right: 0.2em;
    color: rgba(29, 29, 29, 31);
    font-size: 3rem;
}

#scroll-section-2>.main-meggage {
    font-size: 3.5rem;
}

#scroll-section-2 .main-meggage>small {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1rem;
}

#scroll-section-2>.desc-message {
    width: 50%;
    font-weight: bold;
}

#scroll-section-2>.desc-message>.pin {
    width: 1px;
    height: 100px;
    background-color: rgba(29, 29, 29, 31);
}




#scroll-section-3>.mid-message {
    padding: 0 1rem;
    color: #888;
    font-size: 2em;
}

#scroll-section-3>.mid-message>strong {
    color: rgb(29, 29, 31);
}

#scroll-section-3>.canvas-caption {
    color: #888;
    font-size: 1.2rem;
    padding: 0 1rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

}